*/.vscode
EDA1_Lista1/*
!EDA1_Lista1/*.c
EDA1_Lista2/*
!EDA1_Lista2/*.c
EDA1_Lista3/*
!EDA1_Lista3/*.c
EDA1_Lista4/*
!EDA1_Lista4/*.c
EDA1_Lista5/*
!EDA1_Lista5/*.c
EDA1_Lista6/*
!EDA1_Lista6/*.c
EDA1_Lista7/*
!EDA1_Lista7/*.c
EDA1_Lista8/*
!EDA1_Lista8/*.c
EDA1_Lista9/*
!EDA1_Lista9/*.c
EDA1_Lista10/*
!EDA1_Lista10/*.c
EDA1_Lista11/*
!EDA1_Lista11/*.c
EDA1_Lista12/*
!EDA1_Lista12/*.c
Trabalho_EDA1/*
!Trabalho_EDA1/*.c
